version: "3.9"

services:
  ollama:
    image: ollama/ollama:latest
    container_name: rag_ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    restart: unless-stopped
    entrypoint: >
      sh -c "
        ollama serve &
        sleep 5 &&
        ollama pull bge-m3 &&
        wait
      "

  backend:
    build: ./backend
    container_name: rag_backend
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    volumes:
      - ./backend/data:/app/data
      - whisper_cache:/root/.cache/whisper
    env_file:
      - ./backend/.env
    environment:
      - OLLAMA_URL=http://ollama:11434 
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      args:
        NEXT_PUBLIC_API_URL: ${NEXT_PUBLIC_API_URL}
    container_name: rag_frontend
    env_file:
      - ./frontend/.env.production
    ports:
      - "3000:3000"
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  whisper_cache:
  ollama_data:
